/* Header.css */
.header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative; /* Or fixed, based on your preference */
    width: 100%;
  }
  .header-title {
    color: #ffffff; /* Ensure text color is white for visibility */
}
